<launch>
  <node pkg="mocap_vicon"
    type="mocap_vicon_node"
    name="vicon"
    output="screen">
    <param name="server_address" value="localhost"/>
    <param name="frame_rate" value="100"/>
    <param name="max_accel" value="10.0"/>
    <param name="publish_tf" value="false"/>
    <param name="publish_pts" value="false"/>
    <param name="fixed_frame_id" value="mocap"/>
    <rosparam param="model_list">[Hawks_drone_1]</rosparam>
    <remap from="vicon/Hawks_drone_1/odom" to="/drone/odom"/>
  </node>
</launch>